resource_group_name = "foggykitchen-kvk-rg"
location            = "westeurope"
name_prefix         = "fk-kvk01"
key_name            = "cmk-rsa"

tags = {
  project     = "foggykitchen"
  environment = "dev"
  managed_by  = "opentofu"
}
